# Environment Setup for PayRise Admin

# Environment Mode: development, TEST, STAGING, or LIVE
VITE_APP_ENVIRONMENT=development

# Backend API URLs
VITE_APP_BASE_URL_TEST=http://localhost:8082
VITE_APP_BASE_URL_STAGE=https://stage-api.myvesture.co
VITE_APP_BASE_URL_LIVE=http://your-production-api-url.com
