# Environment Setup for PayRise Admin

# Environment Mode: development, production, or staging
VITE_APP_ENVIRONMENT=development

# Backend API URLs
VITE_APP_BASE_URL_TEST=http://localhost:8082
VITE_APP_BASE_URL_LIVE=http://your-production-api-url.com
